* {
  margin: 0%;
  padding: 0%;
  font-family: "Josefin Sans", sans-serif;
}

.main_container {
  height: 100vh;
  background-color: #e0e1dd;
}

.heading {
  height: 10vh;
  width: 100vw;
  background-color: #1b263b;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  color: #e0e1dd;
  font-size: 2.5rem;
}

p {
  color: #e0e1dd;
}

.content_card {
  height: 90vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.container_one {
  height: 90vh;
  width: 70vw;
  border-right: 1px solid #778da9;
  flex-direction: column;
}

h2 {
  color: #415a77;
  padding-top: 1rem;
  margin-left: 1rem;
}

.card_div {
  height: 70vh;
  width: 70vw;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#card {
  height: 50vh;
  width: 20vw;
  border: 4px solid #778da9;
  border-radius: 1rem;
}

.topic_div {
  height: 9vh;
  width: 20vw;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  border-bottom: 1px solid grey;
}

.count_div {
  height: 41vh;
  width: 20vw;
  color: #415a77;
  display: flex;
  justify-content: center;
  align-items: center;
}

.number_div {
  height: 20vh;
  width: 10vw;
  font-size: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.next_page_div {
  height: 10vh;
  width: 70vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.next_page_button {
  height: 8vh;
  width: 60vw;
  border: none;
  border-radius: 1rem;
  color: #e0e1dd;
  background-color: #1b263b;
  cursor: pointer;
}

/* for form */
.container_two {
  height: 90vh;
  width: 30vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.add_doc_form {
  height: 85vh;
  width: 25vw;
  border-radius: 1rem;
  border: 3px solid #778da9;
}

.form_heading {
  height: 10vh;
  width: 25vw;
  border-bottom: 1px solid #778da9;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form_content {
  height: 75vh;
  width: 25vw;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form_box {
  height: 15vh;
  width: 22vw;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

label {
  font-size: 1.3rem;
  color: #415a77;
}

span {
  font-size: 1.2rem;
  color: red;
}

input {
  margin-top: 0.5rem;
  height: 2rem;
  width: 21vw;
  padding-left: 1rem;
  font-size: 1rem;
  color: #415a77;
  outline: none;
  border: 2px solid #415a77;
  border-radius: 10px;
  background-color: #e0e1dd;
}

form p {
  height: 1rem;
  color: red;
}

#form_button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form_submit_button {
  height: 6vh;
  width: 15vw;
  border: none;
  border: 3px solid #1b263b;
  border-radius: 50px;
  background-color: #e0e1dd;
  font-size: 1.2rem;
  cursor: pointer;
}
